<LINK REL=StyleSheet HREF="/css/juego/esenario1.css" TYPE="text/css" MEDIA=screen>
<div id="img">
<img src="/img/sprites/primer esenario.png" id="esenario">
</div>
<form action="/juego/esena1"></form>
<div id="Boton">
    <a href="/juego/esenario2" id="boton"><img src="/img/ventana.png" id="ventana"></a>
</div>
<div id="sonido" style="display: none;">
<audio controls autoplay>
  <source src="/sonidos/pasos.mp3" type="audio/mp3">
</audio>
</div>