<LINK REL=StyleSheet HREF="/css/juego/Comienzo.css" TYPE="text/css" MEDIA=screen>
<form action="/juego/comienzo" method="post"></form>
<div id="contenedor">
<marquee direction="up" id="movimiento" scrollamount="5">
<p>
En el Instituto Quetzales Silvestres después de un semestre de tareas, 
proyectos y exámenes agotadores, 
ha llegado el verano, 
Shiro y sus amigas no la pasarán en casa.
</p>
<p>
A primera hora, Shiro y sus amigas estarán viajando a la casa de playa de una de sus amigas. 
Shiro está muy feliz de poder conocer el mar ya que es la primera vez que lo visitara en su vida.
</p>
<p>
Todas están muy ansiosas por el viaje,
 pero no sabe todo lo que les espera, 
 la aventura comienza.
 </p>
</marquee>
</div>
<div id="Boton">
    <a href="/juego/esena1" id="boton"><img src="/img/sprites/Boton.png" id="continuar"></a>
</div>
<div id="sonido">
<audio controls autoplay loop>
  <source src="/sonidos/melodia.mp3" type="audio/mp3">
</audio>
</div>
<script src="/js/comienzo.js"></script>