<LINK REL=StyleSheet HREF="/css/juego/seleccion.css" TYPE="text/css" MEDIA=screen>
<div id="fondo">
<img src="/img/sprites/seleccion.png" id="seleccion">
</div>
<form action="/juego/seleccion" method="post"></form>
<div id="contenedor">
    <div id="Nombre">
        <select name="Nombre" id="nombre" onclick="s.Seleccion()">
            {{#each lista}}
            <option value="{{this.Nombre}}">{{this.Nombre}}</option>
            {{/each}}
        </select>
    </div>
    <div id="imagen">
        <img src="/img/sprites/Cintia.png" id="juegadora1">
        <img src="/img/sprites/Mariel.png" id="juegadora2">
        <img src="/img/sprites/sara.png" id="juegadora3">
        <img src="/img/sprites/shiro.png" id="juegadora4">
    </div>
    <div id="Boton">
        <a href="/juego/comienzo" id="boton"><img src="/img/sprites/Boton.png" id="continuar"></a>
    </div>
</div>

<script src="/js/seleccion.js"></script>