<LINK REL=StyleSheet HREF="/css/listadescripcion.css" TYPE="text/css" MEDIA=screen>
<form action="/descripcion/list1"></form>
<div id="contenedor">
{{#each lista}}
<p>{{Descripcion}}</p>
{{/each}}
</div>
<div id="juego">
<a href="" id="comenzar"><p>Comenzar Juego</p></a>
</div>
<div id="Personajes">
<a href="/personajes/list1" id="comenzar"><p>Personajes</p></a>
</div>