<LINK REL=StyleSheet HREF="/css/perfil.css" TYPE="text/css" MEDIA=screen>
<form action="/perfil/list"></form>
<div id="lista">
<p id="username">{{user.username}}</p>
{{#each traer}}
{{personaje}}
<img src="/img/sprites/{{personaje}}.png" id="personaje">
{{/each}}
</div>
