#contenedor{
    position: absolute;
    top: 90px;
    height: auto;
    left: 570px;
    width: 50%;
}
#titulos{
    position: absolute;
    top: 90px;
    width:20%;
}
#Titulo{
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    font-style: italic;
}
#titulo{
    position: absolute;
    border-radius: 20px;
    top: 40px;
}
#descripciones{
    position:absolute;
    width: 30%;
    top:180px;
}
#Descripcion{
    position: absolute;
    font-size: 22px;
    font-family: fantasy;
    font-style: italic;
}
#descripcion{
    position: absolute;
    border-radius: 20px;
    top: 40px;
    height: 100px;
}
#guardar{
    position: absolute;
    width: 50px;
    height: auto;
}
#boton{
    position: absolute;
    top: 250px;
    left: 200px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(240, 248, 255, 0);
}
