#flecha{
    position: absolute;
    max-width: 50px;
}
#contenedor{
    position: absolute;
    width: auto;
    height: auto;
    top: 140px;
    left: 550px;
}
#juego{
    position: absolute;
    top: 140px;
}
#Personajes{
    position: absolute;
    top: 100px; 
}
#listas{
    position: absolute;
    top:200px;
    width: 350px;
    font-family: fantasy;
    font-style: italic;
    text-align: justify;
    left: 530px;
    font-size: 20px;
}
#imagen{
    position: absolute;
    width: 40%;
    height: auto;
    top: 700px;
    left: 440px;
}
#boton{
    position: absolute;
    left: 380px;
}