#lista{
    position: absolute;
    top: 120px;
    left: 550px;
    font-family: fantasy;
    font-style: italic;
    font-size: 30px;
}
#personaje{
    width: 30%;
    height: auto;
}
#username{
    position: absolute;
    top: 130px;
}