<form action="/personajes/add" method="POST">
<div id="contenedor">
    <label id="Nombre">Nombre </label>
    <input type="text" id="nombre" name="Nombre">
    <label id="Edad">Nombre </label>
    <input type="text" id="nombre" name="Nombre">
    <label id="Estatura">Nombre </label>
    <input type="text" id="nombre" name="Nombre">
    <label id="Estatura">Nombre </label>
    <textarea name="Descripcion" id="descripcion" cols="30" rows="10" placeholder="Agregar Texto" spellcheck="true" maxlength="150"></textarea>
    <button type="submit" id="boton"><img src="/img/guardar.png" id="guardar"></button>
</div>
</form>
