<LINK REL=StyleSheet HREF="/css/listadescripcion.css" TYPE="text/css" MEDIA=screen>
<form action="/descripcion/list"></form>
<div id="listas">
{{#each lista}}
<center>
<h1>{{Titulo}}</h1></center>
<p >{{Descripcion}}</p>
<a href="/descripcion/edit/{{id}}" id="boton"><img src="/img/editar.png" id="flecha"></a>
{{/each}}
</div>
